*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(240, 130, 234);
}
.cartão{
    background-color: antiquewhite;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 20px;
    margin: 20px;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.cartão img{
    align-self: center;
    max-width: 120px;
    margin-bottom: 10px;
}
a{
    color: palevioletred;
}